<form [formGroup]="form" (ngSubmit)="save.emit(form.value)">

  <div class="mb-3">
    <label>ID  zálohy:</label>
    <input type="number" class="form-control" formControlName="idConfig">
  </div>

<div class="form-group">
  <label>Frekvence: </label>
  <select class="form-select" aria-label="Default select example" formControlName="frequency">

    <option value="1">Denně</option>
    <option value="2">Týdně</option>
    <option value="3">Měsíčně</option>
    <option value="4">Ročně</option>
    <option value="5">Nikdy</option>

  </select>
</div>

<div class="form-group">
  <label>Den zálohy: </label>
  <select class="form-select" aria-label="Default select example" formControlName="days">

    <option value="1">Pondělí</option>
    <option value="2">Úterý</option>
    <option value="3">Středa</option>
    <option value="4">Čtvrtek</option>
    <option value="5">Pátek</option>
    <option value="6">Sobota</option>
    <option value="7">Neděle</option>

  </select>
</div>

<p></p>

  <div class="form-group row">
    <label for="example-datetime-local-input" class="col-2 col-form-label">Datum a čas: </label>
    <div class="col-10">
      <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input" formControlName="date">
    </div>
  </div>

  <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="down" title="Vytvoření nového úložiště">Uložit</button>
</form>
